<footer>
  <div
    class="row d-flex flex-wrap align-items-center justify-content-between px-4 border-top"
  >
    <div class="outerColumnFooter1 col-md-6 d-flex flex-wrap">
      <div class="innerColumnFooter11 col d-flex text-muted">
        <span class="hoverlink">Imalo Education</span>
      </div>
      <div class="innerColumnFooter12 col d-flex text-muted">
        @if (languageRO()) {
          <a routerLink="/privacy" class="hoverlink"
            >Politica de confidențialitate</a
          >
        } @else {
          <a routerLink="/privacy" class="hoverlink" hreflang="ro"
            >Datenschutzerklärung (auf Rumänisch)</a
          >
        }
      </div>
    </div>

    <div class="outerColumnFooter2 col-md-6 d-flex flex-wrap">
      <div class="innerColumnFooter21 col d-flex">
        <ul
          class="nav gap-3 list-unstyled"
          [attr.aria-label]="
            languageRO()
              ? 'Imalo pe rețelele sociale'
              : 'Imalo in sozialen Medien'
          "
        >
          <li class="d-flex align-items-center hovericon">
            <a
              href="https://www.facebook.com/imaloeducation"
              [attr.aria-label]="
                languageRO()
                  ? 'Facebook (se deschide într-o filă nouă)'
                  : 'Facebook (öffnet in einem neuen Tab)'
              "
              target="_blank"
              rel="me noopener"
              ><i class="bi bi-facebook hovericon" aria-hidden="true"></i>
            </a>
          </li>
          <li class="d-flex align-items-center hovericon">
            <a
              href="https://www.instagram.com/imaloeducation"
              [attr.aria-label]="
                languageRO()
                  ? 'Instagram (se deschide într-o filă nouă)'
                  : 'Instagram (öffnet in einem neuen Tab)'
              "
              target="_blank"
              rel="me noopener"
              ><i class="bi bi-instagram hovericon" aria-hidden="true"></i>
            </a>
          </li>
          <li class="d-flex align-items-center hovericon">
            <a
              href="https://www.linkedin.com/company/imalo-education"
              [attr.aria-label]="
                languageRO()
                  ? 'LinkedIn (se deschide într-o filă nouă)'
                  : 'LinkedIn (öffnet in einem neuen Tab)'
              "
              target="_blank"
              rel="me noopener"
              ><i class="bi bi-linkedin hovericon" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="innerColumnFooter22 col d-flex text-muted">
        <span class="hoverlink">©2024</span>
      </div>
    </div>
  </div>
  <div
    class="row w-100 generic-row-padding d-flex justify-content-center align-items-center"
  >
    <div class="col-md-6 px-2 my-1">
      <div
        class="card p-2"
        role="region"
        [attr.aria-label]="languageRO() ? 'Date firmă' : 'Firmendaten'"
      >
        <p>
          IMALO PROGRAM SRL
          <br />
          CUI 49232070
          <br />
          Nr. Înmatriculare J32/2315/2023
          <br />
          EUID ROONRC.J32/2315/2023
        </p>
      </div>
    </div>
    <div class="col-md-6 px-2 my-1">
      <div
        class="card p-2"
        role="region"
        [attr.aria-label]="languageRO() ? 'Date de contact' : 'Kontaktdaten'"
      >
        <p>
          @if (languageRO()) {
            CONTACT
            <br />
            Adresă: Sibiu, Str. Gutuilor, Nr. 6, Cod 550092
          } @else {
            KONTAKT
            <br />
            Adresse: Sibiu, Str. Gutuilor, Nr. 6, PLZ 550092
          }
          <br />
          <a href="mailto:imaloeducation@gmail.com"
            >E-Mail: imaloeducation&#64;gmail.com</a
          >
          <br />
          Telefon:
          <a href="tel:+40741711006">+40741711006</a>
        </p>
      </div>
    </div>
  </div>
  <div
    class="row w-100 generic-row-padding px-2 d-flex justify-content-center align-items-center"
  >
    <div class="col-6 px-2 SAL-col">
      <a
        href="https://anpc.ro/ce-este-sal/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          ngSrc="/assets/images/SAL.webp"
          width="165"
          height="41"
          class="SAL-SOL double-drop-shadow"
          alt="SAL Litigii"
        />
      </a>
    </div>
    <div class="col-6 px-2 SOL-col">
      <a
        href="https://ec.europa.eu/consumers/odr"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          ngSrc="/assets/images/SOL.svg"
          width="165"
          height="41"
          class="SAL-SOL double-drop-shadow"
          alt="SOL Litigii"
        />
      </a>
    </div>
  </div>
  <div
    class="row row w-100 generic-row-padding d-flex justify-content-center align-items-center"
  >
    <div class="d-flex text-muted justify-content-center mb-4">
      <div class="wrapperDeveloped hoverlink">
        <a
          href="https://dan-frunza.web.app/"
          aria-label="Dan Frunza"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="text-line-height"
            >Developed & maintained <br />by DanFrunza</span
          >
          <i class="danfrunzaIcon"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
