.navbar {
  width: 100%;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  width: 100%;
  opacity: 1;
  transform: translateY(0);
  max-height: 1000px;
  overflow: visible;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease,
    transform 0.5s ease;
}

.form-switch .form-check-input {
  background-color: var(--light-main-color);
  border-color: var(--cyan-dark-color);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(21,91,90,1.0)'/></svg>");
}

.form-switch .form-check-input:focus {
  border-color: var(--cyan-dark-color);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(21,91,90,1.0)'/></svg>");
}

.form-switch .form-check-input:checked {
  background-color: var(--cyan-dark-color);
  border-color: var(--cyan-dark-color);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
  padding: 0px !important;
}

.nav-link {
  color: var(--cyan-dark-color) !important;
  text-align: center;
  font-size: 2rem;
  position: relative;
  transition: all 0.2s;
  transform-origin: 50% 50%;
  margin: 0px !important;
}

.nav-link:active {
  color: var(--dark-main-color);
}

.nav-link:visited {
  color: var(--dark-main-color);
}

.imalo-logo-nav {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  color: var(--cyan-main-color);
  text-align: center;
  font-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-container {
  width: 60px;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.announcement-box {
  max-width: 700px;
  margin: 20px auto;
  padding: 30px;
  border: 2px solid var(--cyan-dark-color);
  border-radius: 1rem;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  color: var(--cyan-dark-color);
  background-color: #f8fbff;
  box-shadow: 0 4px 12px rgba(0, 102, 204, 0.15);
}

/* VERY LARGE SCREENS: */
@media only screen and (min-width: 1300px) {
  .nav-link {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1300px) {
  .nav-link {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .nav-link {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .nav-link {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .nav-link {
    font-size: 1.2rem;
  }
}

/* VERY SMALL SCREENS: */
@media only screen and (max-width: 576px) {
  #logo {
    width: 50px;
  }

  .nav-link {
    font-size: 2.4rem;
  }

  .nav-link {
    font-size: 2.4rem;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition:
      max-height 0.5s ease,
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .navbar-collapse.show {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
}

@media (pointer: fine) {
  .nav-link:hover {
    transform: scale(1.1);
    -webkit-text-shadow: 2px 2px var(--orange-main-color);
    text-shadow: 2px 2px var(--orange-main-color);
  }

  .nav-link:active {
    transform: scale(1.2);
    -webkit-text-shadow: 4px 4px var(--orange-main-color);
    text-shadow: 4px 4px var(--orange-main-color);
  }
}

@media (hover: none), (pointer: coarse), (pointer: none) {
  .nav-link:active {
    transform: scale(1.1);
  }
}
