<div
  class="hero-image-container d-flex justify-content-center align-items-center"
>
  <div id="background_image_home"></div>
  <div
    class="centere-hero-div d-flex justify-content-center align-items-center"
  >
    <div class="motto-container" lang="de">
      <span class="motto-text" id="upper-text-motto">Aufblühen</span>
      <span class="motto-text" id="middle-text-motto">Wachsen</span>
      <span class="motto-text" id="lower-text-motto">Entdecken</span>
      <div class="liquid-shape-1" id="upper-layer-motto"></div>
      <div class="liquid-shape-4" id="middle-layer-motto"></div>
      <div class="liquid-shape-5" id="lower-layer-motto"></div>
    </div>
  </div>
</div>

<div class="generic-page-container mt-2 mb-4">
  <div
    class="row w-100 d-flex justify-content-center align-items-center mb-2 generic-row-padding"
  >
    <div
      class="container-fluid d-flex justify-content-center align-items-center my-2 py-2"
    >
      @if (languageRO()) {
        <h1 class="subtitle-1">
          Ați găsit locația perfectă pentru copilul Dumneavoastră!
        </h1>
      } @else {
        <h1 class="subtitle-1">
          Sie haben den idealen Ort für Ihr Kind gefunden!
        </h1>
      }
    </div>
  </div>
  <div
    class="row w-100 d-flex justify-content-center align-items-center my-2 diagonal-1 generic-row-padding"
  >
    <div
      class="col-sm-8 d-flex justify-content-center align-items-center block1 my-2"
    >
      <div class="liquid-shape-3">
        <div class="textInsideHomePage">
          @if (languageRO()) {
            <p>
              Imalo Education <br />
              este locul unde copilul Dvs. va fi întâmpinat <br />
              cu toată căldura și atenția noastră.
            </p>
          } @else {
            <p>
              Imalo Education <br />
              ist der Ort, an dem Ihr Kind mit all unserer <br />
              Herzlichkeit und Aufmerksamkeit empfangen wird.
            </p>
          }
        </div>
      </div>
    </div>
    <div
      class="col-sm-4 d-flex justify-content-center align-items-center block2 my-2"
    >
      <img
        class="double-drop-shadow"
        id="imalo_caterpillar_1"
        ngSrc="assets/images/caterpillars/imalo_caterpillar_1.webp"
        width="443"
        height="314"
        alt=""
        priority
      />
      @if (languageRO()) {
        <p class="triangle-right">Bine ați venit la Imalo!</p>
      } @else {
        <p class="triangle-right">Willkommen zu Imalo!</p>
      }
    </div>
  </div>
  <div
    class="row w-100 d-flex justify-content-center align-items-center my-2 diagonal-2 generic-row-padding"
  >
    <div
      class="col-sm-4 d-flex justify-content-center align-items-center block-1 my-2"
    >
      <img
        class="double-drop-shadow"
        id="imalo_caterpillar_2"
        ngSrc="assets/images/caterpillars/imalo_caterpillar_2.webp"
        width="327"
        height="242"
        alt=""
      />
    </div>
    <div
      class="col-sm-8 d-flex justify-content-center align-items-center block-2 my-2"
    >
      <div class="fixed-Size-Container-600x300">
        <div class="liquid-shape-4">
          <div class="textInsideHomePage">
            @if (languageRO()) {
              <p>
                Viziunea noastră este de a ne asigura că fiecare copil primește
                atenția și îngrijirea pe care o merită cu adevărat.
              </p>
            } @else {
              <p>
                Unsere Vision ist es, dass jedes Kind die Aufmerksamkeit und
                Betreuung erhält, die es wirklich verdient.
              </p>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row w-100 d-flex justify-content-center align-items-center my-2 diagonal-1 generic-row-padding"
  >
    <div class="col-sm-8 d-flex justify-content-center align-items-center my-2">
      <div class="fixed-Size-Container-600x300">
        <div class="liquid-shape-3">
          <div class="textInsideHomePage">
            @if (languageRO()) {
              <p>
                Misiunea noastră este de a acorda copiilor abilitățile și
                încrederea necesară pentru a naviga provocările de mâine.
              </p>
            } @else {
              <p>
                Unser Ziel ist es, Kindern die Fähigkeiten und das
                Selbstvertrauen zu vermitteln, um die Herausforderungen von
                morgen zu meistern.
              </p>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center align-items-center my-2">
      <img
        class="double-drop-shadow"
        id="imalo_caterpillar_3"
        ngSrc="assets/images/caterpillars/imalo_caterpillar_3.webp"
        width="434"
        height="379"
        alt=""
      />
    </div>
  </div>

  <div class="row w-100 py-2 my-4 diagonal-2 generic-row-padding">
    <div class="col-sm-4 d-flex flex-column justify-content-between my-2 px-4">
      <a [routerLink]="localize('/about-us')" class="h-100">
        <div
          class="card justify-content-center align-items-center h-100 text-center secondary-custom-text p-4 my-2"
        >
          @if (languageRO()) {
            <p class="cyan-dark-text-with-shadow">Despre noi</p>
          } @else {
            <p class="cyan-dark-text-with-shadow">Über uns</p>
          }
        </div>
      </a>
    </div>
    <div class="col-sm-4 d-flex flex-column justify-content-between my-2 px-4">
      <a [routerLink]="localize('/offers')" class="h-100">
        <div
          class="card justify-content-center align-items-center h-100 text-center secondary-custom-text p-4 my-2"
        >
          @if (languageRO()) {
            <p class="cyan-dark-text-with-shadow">Oferte educaționale</p>
          } @else {
            <p class="cyan-dark-text-with-shadow">Bildungsangebote</p>
          }
        </div>
      </a>
    </div>
    <div class="col-sm-4 d-flex flex-column justify-content-between my-2 px-4">
      <a [routerLink]="localize('/schedule')" class="h-100">
        <div
          class="card justify-content-center align-items-center h-100 text-center secondary-custom-text p-4 my-2"
        >
          @if (languageRO()) {
            <p class="cyan-dark-text-with-shadow">Programele noastre</p>
          } @else {
            <p class="cyan-dark-text-with-shadow">Unsere Programme</p>
          }
        </div>
      </a>
    </div>
  </div>
</div>
